.map-page {
  height: calc(100vh - 141px);
}

.map-title {
  h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: "Permanent Marker", cursive;
  }
}

.mapboxgl-map {
  border-radius: 10px;
}

.map-container {
  height: 700px;
  width: 1200px;
  margin: 10px auto;
}
.sidebar {
  margin: 0 auto;
  width: 600px;
  background-color: rgba(193, 129, 11);
  color: $fontcolor;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.mapboxgl-ctrl-geocoder--button {
  width: fit-content;
}
