footer{
  color: rgb(193, 192, 192);
  padding: 10px;
  background-color: rgb(80, 80, 80);
  p{
    text-align: center;
    margin-bottom: 0;
    a{
      text-decoration: none;
      color: rgb(193, 192, 192);
      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
  hr{
    margin: 0.5rem 0;
  }
}