.navbar {
  background-color: rgb(193, 129, 11);
  .fa-beer {
    color: $fontcolor;
  }
  .nav-item {
    a,
    .logout {
      text-decoration: none;
      color: $fontcolor;
      margin-right: 10px;
      padding: 10px;
      border: 1px solid $fontcolor;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: $fontcolor;
        color: rgb(193, 129, 11);
        border: 1px solid rgb(193, 129, 11);
        cursor: pointer;
      }
    }
  }
}
