* {
  font-family: "Montserrat", sans-serif;
}
$whitecolor: white;
$fontcolor: #fcfadb;
%backgroundedits {
  background-position: center;
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
}
